<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h1>Listado de personas</h1>
      <button class="btn btn-primary" [disabled]="deshabilitar"
        (click)="agregarPersona()">Añadir persona</button>
      <p>{{mensaje}}</p>
      <app-persona></app-persona>
      <label>Título Persona:</label>
      <!-- //eventbinding -->
      <!-- <input type="text" class="form-control" (input)="modificarTitulo($event)">
      {{titulo}} -->

      <input type="text" class="form-control" [(ngModel)]="titulo">
      {{titulo}}

    </div>
  </div>
</div>